<div class="vendor-name">
	<%= @vendor.name %>
</div>

<%= link_to "Edit Vendor", edit_vendor_path(@vendor) %>
<%= link_to "Delete Vendor", vendor_path(@vendor), method: :delete, data: {content: "Are you sure you want to delete the vendor?"} %>
